/* CSS PRODUCT AND CART PAGE */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: rgb(189, 181, 181);
  font-family: "Lato", sans-serif;
}

:root {
  /*  == COLOURS ==== */
  --nav_bg: rgb(36, 34, 34);
  --text_color: rgb(170, 163, 163);
  --next_bg: rgb(19, 17, 17);
  --low_bg: rgb(31, 27, 27);
  --body_bg: rgb(38, 36, 36);

  /* FONTS */
  --font_family: "Lato", sans-serif;
  --nav-font-size: 12px;
  --body-font-size: 10px;
  --head-font-size: 18px;
  --sub-head-font-size: 16.5px;
  --footer-head-font: 13px;
  --footer-body-font: 8px;
}

html {
  scroll-behavior: smooth;
  background: var(--nav_bg);
}

.containerx {
  max-width: 90rem;
  padding: 0 10rem;
  margin: auto;
}

body {
  scroll-behavior: smooth;
  height: 100vh;
}

/* =========== NAV ======== */

nav {
  background-color: var(--nav_bg);
  height: 6.5%;
  border-bottom: 1px solid rgb(53, 51, 51);
  z-index: 999;
  position: absolute;
  top: 0;
  width: 100%;
}

nav a {
  text-decoration: none;
}

.nav_body {
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* 
#cart-icon {
  position: relative;
} */

.toggle_menu {
  display: none;
}

.bar {
  display: block;
  width: 22px;
  height: 1.5px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: var(--text_color);
}

.logo img {
  width: 30px;
}

.nav_menu {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  list-style: none;
}
.nav_menu a {
  color: var(--text_color);
}
.nav_menu a:hover {
  color: turquoise;
}

.nav_link {
  font-family: var(--font_family);
  font-size: var(--nav-font-size);
  font-weight: 400;
  color: var(--text_color);
  margin-left: 10px;
}

.nav_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.bx {
  color: var(--text_color);
  margin-left: 10px;
  cursor: pointer;
}

.bx:hover {
  color: turquoise;
}

section {
  /* width: 100%; */
  height: 100%;
  background-color: rgb(39, 38, 38);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* === CART ====== */

.boxx {
  color: white;
  width: 30px;
  height: 30px;
  text-align: center;
  position: relative;
}

.my-cart-badge {
  position: absolute;
  /* background-color: #2f3542; */
  top: -5px;
  right: 0;
  padding: 3px;
  height: 20px;
  width: 20px;
  line-height: 20px;
  border-radius: 50%;
  z-index: 99;
}

#cart-icon {
  font-size: 1.5rem;
  cursor: pointer;
  padding-top: 10px;
}

.cart {
  position: fixed;
  top: 0;
  right: -100%;
  width: 60vw;
  height: 100vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
  background-color: rgb(38, 35, 35);
  box-shadow: 0 1px 4px 4px turquoise;
  z-index: 100;
}

.cart-active {
  right: 0;
  transition: 0.5s;
}

.cart-title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(221, 216, 216, 0.1);
}

.total {
  display: flex;
  justify-content: flex-end;
  margin-top: 1.5rem;
}

.total-title {
  font-size: 1rem;
  font-weight: 600;
}

.total-price {
  margin-left: 0.5rem;
}

.btn-buy {
  padding: 12px 20px;
  background-color: #0eb5af;
  color: #fff;
  border: none;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
}

.btn-buy:hover {
  background: rgb(2, 65, 59);
}

.cart-box {
  display: grid;
  grid-template-columns: 32% 50% 18%;
  align-items: center;
  gap: 1rem;
  margin-top: 1rem;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-bottom: 10px;
}

.cart-img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border: 2px solid rgba(0, 0, 0, 0.1);
  padding: 5px;
}
.detail-box {
  display: grid;
  row-gap: 0.5rem;
}

.price-box {
  display: flex;
  justify-content: space-between;
}

.cart-product-title {
  font-size: 1rem;
  text-transform: uppercase;
  color: rgb(211, 204, 204);
  font-weight: 500;
}

.cart-price {
  font-weight: 500;
}

.cart-quantity {
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  width: 2.4rem;
  text-align: center;
  font-size: 1rem;
}

.cart-remove {
  font-size: 24px;
  color: rgb(134, 13, 13);
  cursor: pointer;
}

#cart-close {
  position: absolute;
  top: 1rem;
  right: 0.8rem;
  font-size: 2rem;
  cursor: pointer;
}

.cart_body {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
}

.left {
  width: 58%;
  /* height: 100%; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.left img {
  width: 100%;
  margin-top: 90px;
}

.right {
  width: 40%;
  padding: 20px;
  max-height: 100%;
}

.form_cont {
  background: rgb(25, 25, 25);
  /* padding: 5px; */
  /* width: 100%; */
}

.form_cont select {
  background: transparent;
}

.box_cont {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  border: 1px solid rgb(192, 186, 186);
  padding: 7px 15px;
  background: transparent;
  margin: 6px;
  border-radius: 3px;
  cursor: pointer;
}

.box:hover {
  background: turquoise;
  transition: all 2sec ease-in;
  color: rgb(34, 33, 33);
}

.box_premium,
.box_standard {
  display: none;
}

hr {
  border: 1px solid rgb(156, 151, 151);
  margin: 3px 0;
}

.h5 {
  margin-top: 5px;
  font-weight: 400;
  font-size: 10px;
}

h6 {
  margin-bottom: 5px;
}
h2 {
  margin-bottom: 5px;
}
p {
  margin-bottom: 20px;
}

ul li {
  margin: 5px;
}

.select {
  background-color: black;
  padding: 10px;
}

.add_cart {
  /* padding: 10px; */
  height: 30px;
  width: 100%;
  background: rgb(66, 185, 173);
  outline: none;
  border: none;
  color: rgb(221, 211, 211);
  cursor: pointer;
  font-size: 13px;
}

.add_cart:hover {
  background: rgb(2, 64, 58);
}

.product_price {
  padding: 8px 14px;
  border: 1px solid rgb(203, 195, 195);
}

/* ===== MEDIA QUERY ====== */

@media screen and (max-width: 900px) {
  .left img {
    margin-top: 80px;
    width: 80%;
  }

  .left {
    margin: 0;
  }
  .cart {
    width: 100%;
    box-shadow: none;
  }

  .left,
  .right {
    width: 100%;
  }

  .cart_body {
    display: block;
  }

  .content_container {
    position: relative;
    display: block;
    width: 100%;
  }

  .content_container img {
    height: 100%;
  }

  .cto_content {
    display: none;
  }

  .swiper {
    height: 90%;
  }

  .containerx {
    padding: 0 1.5rem;
  }

  .nav_menu {
    position: fixed;
    left: -100%;
    top: 3rem;
    flex-direction: column;
    background: var(--nav_bg);
    width: 90%;
    height: 100%;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
  }

  .nav_menu.active {
    left: 0;
  }

  .nav_list {
    margin: 1.5rem 0;
  }

  .toggle_menu {
    display: block;
    cursor: pointer;
  }

  .user_icony {
    display: none;
  }

  .toggle_menu.active .bar:nth-child(2) {
    opacity: 0;
  }

  .toggle_menu.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
    background: turquoise;
  }

  .toggle_menu.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
    background: turquoise;
  }
}

@media screen and (max-width: 768px) {
  /* Adjustments for smaller screens */
  .nav_body {
    padding: 0 1rem;
  }

  /* .nav_menu {
    display: none;
  } */

  /* .toggle_menu {
    display: flex;
  } */

  .nav_list {
    width: 100%;
    text-align: center;
    padding: 1rem 0;
  }

  .nav_link {
    margin: 0;
    font-size: 16px;
  }

  /* .nav_icon {
    display: none;
  } */
}

@media screen and (max-width: 480px) {
  /* Adjustments for even smaller screens */

  .cto_content {
    font-size: 14px;
  }

  .client_logo {
    padding: 0.5rem 0;
  }

  .product_items {
    grid-template-columns: 1fr;
  }
}

/* CSS FILE */

/* Add this media query for 360px screen size */
@media only screen and (max-width: 360px) {
  body {
    font-size: 8px;
  }

  .containerx {
    padding: 0 1rem;
  }

  /* .nav_menu {
    display: none;
  } */

  .toggle_menu {
    display: block;
  }

  /* .nav_body {
    flex-direction: column;
  } */

  /* .nav_icon {
    margin-top: 1rem;
  } */
}
